<?xml version="1.0" encoding="UTF-8"?>
<web-app
    id="WebApp_ID"
    version="2.4"
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>SAT-Live</display-name>
    <description>balises de klups</description>
    <servlet>
        <display-name>Inscription</display-name>
        <servlet-name>Inscription</servlet-name>
        <servlet-class>servlets.Inscription</servlet-class>
    </servlet>
    <servlet>
        <display-name>Preview</display-name>
        <servlet-name>Preview</servlet-name>
        <servlet-class>servlets.Preview</servlet-class>
    </servlet>
    <servlet>
        <display-name>EnvoiMail</display-name>
        <servlet-name>EnvoiMail</servlet-name>
        <servlet-class>servlets.EnvoiMail</servlet-class>
    </servlet>
    <servlet>
        <display-name>Login</display-name>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <display-name>Poste</display-name>
        <servlet-name>Poste</servlet-name>
        <servlet-class>servlets.Poste</servlet-class>
    </servlet>
    <servlet>
        <display-name>NextNews</display-name>
        <servlet-name>NextNews</servlet-name>
        <servlet-class>servlets.NextNews</servlet-class>
    </servlet>
    <servlet>
        <display-name>PreviousNews</display-name>
        <servlet-name>PreviousNews</servlet-name>
        <servlet-class>servlets.PreviousNews</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inscription</servlet-name>
        <url-pattern>/Inscription</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>Redirecion</display-name>
        <servlet-name>Redirection</servlet-name>
        <servlet-class>servlets.Redirection</servlet-class>
    </servlet>
    <servlet>
        <display-name>Manage_Users</display-name>
        <servlet-name>Manage_Users</servlet-name>
        <servlet-class>servlets.Manage_Users</servlet-class>
    </servlet>
    <servlet>
        <display-name>Manager</display-name>
        <servlet-name>Manager</servlet-name>
        <servlet-class>servlets.Manager</servlet-class>
    </servlet>
    <servlet>
        <display-name>ManageUsers</display-name>
        <servlet-name>ManageUsers</servlet-name>
        <servlet-class>servlets.ManageUsers</servlet-class>
    </servlet>
    <servlet>
        <display-name>AddUser</display-name>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>servlets.AddUser</servlet-class>
    </servlet>
    <servlet>
        <display-name>MngNext</display-name>
        <servlet-name>MngNext</servlet-name>
        <servlet-class>servlets.MngNext</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>MngPrevious</display-name>
        <servlet-name>MngPrevious</servlet-name>
        <servlet-class>servlets.MngPrevious</servlet-class>
    </servlet>
    <servlet>
        <display-name>AddKeyword</display-name>
        <servlet-name>AddKeyword</servlet-name>
        <servlet-class>servlets.AddKeyword</servlet-class>
    </servlet>
    <servlet>
        <display-name>Manage_Keywords</display-name>
        <servlet-name>Manage_Keywords</servlet-name>
        <servlet-class>servlets.Manage_Keywords</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>Manage_News</display-name>
        <servlet-name>Manage_News</servlet-name>
        <servlet-class>servlets.Manage_News</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>Manage_Events</display-name>
        <servlet-name>Manage_Events</servlet-name>
        <servlet-class>servlets.Manage_Events</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>AddEvent</display-name>
        <servlet-name>AddEvent</servlet-name>
        <servlet-class>servlets.AddEvent</servlet-class>
    </servlet>
    <servlet>
        <display-name>ModifyKeyword</display-name>
        <servlet-name>ModifyKeyword</servlet-name>
        <servlet-class>servlets.ModifyKeyword</servlet-class>
    </servlet>
    <servlet>
        <display-name>ModifyNews</display-name>
        <servlet-name>ModifyNews</servlet-name>
        <servlet-class>servlets.ModifyNews</servlet-class>
    </servlet>
    <servlet>
        <display-name>ModifyEvent</display-name>
        <servlet-name>ModifyEvent</servlet-name>
        <servlet-class>servlets.ModifyEvent</servlet-class>
    </servlet>
    <servlet>
        <display-name>ModifyUser</display-name>
        <servlet-name>ModifyUser</servlet-name>
        <servlet-class>servlets.ModifyUser</servlet-class>
    </servlet>
    <servlet>
        <display-name>MngNextNews</display-name>
        <servlet-name>MngNextNews</servlet-name>
        <servlet-class>servlets.MngNextNews</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>MngPreviousNews</display-name>
        <servlet-name>MngPreviousNews</servlet-name>
        <servlet-class>servlets.MngPreviousNews</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>BroadcastMail</display-name>
        <servlet-name>BroadcastMail</servlet-name>
        <servlet-class>servlets.BroadcastMail</servlet-class>
    </servlet>
    <servlet>
        <display-name>EndNews</display-name>
        <servlet-name>EndNews</servlet-name>
        <servlet-class>servlets.EndNews</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>
    	BeginNews</display-name>
    	<servlet-name>BeginNews</servlet-name>
    	<servlet-class>
    	servlets.BeginNews</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Redirection</servlet-name>
        <url-pattern>/Redirection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Preview</servlet-name>
        <url-pattern>/Preview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvoiMail</servlet-name>
        <url-pattern>/EnvoiMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Poste</servlet-name>
        <url-pattern>/Poste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextNews</servlet-name>
        <url-pattern>/NextNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreviousNews</servlet-name>
        <url-pattern>/PreviousNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager</servlet-name>
        <url-pattern>/admin/Manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manage_Users</servlet-name>
        <url-pattern>/admin/Manage_Users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/admin/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MngNext</servlet-name>
        <url-pattern>/admin/MngNext</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MngPrevious</servlet-name>
        <url-pattern>/admin/MngPrevious</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddKeyword</servlet-name>
        <url-pattern>/AddKeyword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manage_Keywords</servlet-name>
        <url-pattern>/admin/Manage_Keywords</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manage_News</servlet-name>
        <url-pattern>/admin/Manage_News</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manage_Events</servlet-name>
        <url-pattern>/admin/Manage_Events</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEvent</servlet-name>
        <url-pattern>/admin/AddEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyKeyword</servlet-name>
        <url-pattern>/admin/ModifyKeyword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyEvent</servlet-name>
        <url-pattern>/admin/ModifyEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyUser</servlet-name>
        <url-pattern>/ModifyUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyNews</servlet-name>
        <url-pattern>/admin/ModifyNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MngNextNews</servlet-name>
        <url-pattern>/admin/MngNextNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MngPreviousNews</servlet-name>
        <url-pattern>/admin/MngPreviousNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BroadcastMail</servlet-name>
        <url-pattern>/admin/BroadcastMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndNews</servlet-name>
        <url-pattern>/admin/EndNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>BeginNews</servlet-name>
    	<url-pattern>/BeginNews</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>FiltreCountry</filter-name>
        <filter-class>filtres.FiltreCountry</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltreCountry</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FiltreReftypes</filter-name>
        <filter-class>filtres.FiltreReftypes</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltreReftypes</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FiltreUser</filter-name>
        <filter-class>filtres.FiltreUser</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltreUser</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FiltreUser2Display</filter-name>
        <filter-class>filtres.FiltreUser2Display</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltreUser2Display</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FiltreKeyword</filter-name>
        <filter-class>filtres.FiltreKeyword</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltreKeyword</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FiltreLastNews</filter-name>
        <filter-class>filtres.FiltreLastNews</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltreLastNews</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FiltreNews</filter-name>
        <filter-class>filtres.FiltreNews</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltreNews</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FiltreEvents</filter-name>
        <filter-class>filtres.FiltreEvents</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltreEvents</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FiltreNewsKeyword</filter-name>
        <filter-class>filtres.FiltreNewsKeyword</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltreNewsKeyword</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <security-role>
    <description>Admin of the site</description>
    <role-name>ezadmin</role-name>
    </security-role>
    <resource-ref>
      <description>DB Connection</description>
      <res-ref-name>jdbc/ezlive</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  </resource-ref>
</web-app>
